/* ---------------------------------login-signup------------ */
.infomation {
   display: grid;
   height: 100%;
   width: 100%;
   place-items: center;
   background-color: rgb(241, 241, 241);
}
/* ::selection{
   background: #1a75ff;
   color: #fff;
 } */
.wrapper {
   max-width: 490px;
   position: relative;
   overflow: hidden;
   /* max-width: 50%; */
   background: #fff;
   padding: 3rem;
   box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.1);
   margin-top: 15rem;
   margin-bottom: 12rem;
}
.wrapper .title-text {
   display: flex;
   width: 200%;
}
.wrapper .title {
   width: 50%;
   font-size: 3.5rem;
   font-weight: 600;
   text-align: center;
   transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
   position: relative;
   display: flex;
   height: 5rem;
   width: 99.5%;
   overflow: hidden;
   margin: 3rem 0 1rem 0;
   justify-content: space-between;
   border: 0.1rem solid lightgrey;
}
.slide-controls .slide {
   height: 100%;
   width: 100%;
   color: #fff;
   font-size: 2rem;
   font-weight: 500;
   text-align: center;
   line-height: 4.8rem;
   cursor: pointer;
   z-index: 1;
   transition: all 1s ease;
}
.slide-controls label.signup {
   color: #000;
}
.slide-controls .slider-tab {
   position: absolute;
   height: 100%;
   width: 50%;
   left: 0;
   z-index: 0;
   background: black;
   transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
   display: none;
}
#signup:checked ~ .slider-tab {
   left: 50%;
}
#signup:checked ~ label.signup {
   color: #fff;
   cursor: default;
   user-select: none;
}
#signup:checked ~ label.login {
   color: #000;
}
#login:checked ~ label.signup {
   color: #000;
}
#login:checked ~ label.login {
   cursor: default;
   user-select: none;
}
.wrapper .form-container {
   width: 100%;
   overflow: hidden;
}
.form-container .form-inner {
   display: flex;
   width: 200%;
}
.form-container .form-inner form {
   width: 50%;
   transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
   height: 5rem;
   width: 100%;
   margin-top: 2rem;
}
.form-inner form .field input {
   height: 100%;
   width: 100%;
   outline: none;
   border: 0.1rem solid lightgrey;
   border-bottom-width: 0.2rem;
   font-size: 1.7rem;
   padding-left: 5px;
}
.field__email input,
.field__password input {
   padding-left: 1.5rem;
}

.field-admin.success input {
   border-radius: red;
}
.field-admin.error input {
   border-radius: green;
}
/* .form-inner form .field input:focus{
   border-color: #1a75ff;
   box-shadow: inset 0 0 0.3rem #fb6aae;
 }  */
/* .form-inner form .field input::placeholder{
   color: #999;
 }
 form .field input:focus::placeholder{
   color: #1a75ff;
 }  */
.form-inner form .pass-link {
   margin: 1rem 0;
}
.form-inner form .signup-link {
   text-align: center;
   margin-top: 3rem;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
   display: block;
   font-size: 1.6rem;
   color: #1a75ff;
   text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
   text-decoration: underline;
}

.form-control input {
   position: relative;
   font-family: "ubuntu";
   font-size: 1.7rem;
   padding: 1.4rem;
   width: 100%;
   padding-left: 1.5rem;
   margin-top: 1rem;
   border: 0.1rem solid lightgrey;
   margin-bottom: 1.85rem;
   display: block;
   outline: none;
}
.form-control.success input {
   border-color: #f70000;
}
.form-control.error input {
   border-color: #81f733;
}
form .field__btn input {
   width: 100%;
   background: none;
   border: none;
   color: #fff;
   font-size: 3rem;
   text-transform: uppercase;
   font-weight: 500;
   cursor: pointer;
   background-color: var(--black);
   transition: all 0.3s ease;
   letter-spacing: 2px;
}
form .login-btn input{
   width: 100%;
   background: none;
   border: none;
   color: #fff;
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: 500;
   cursor: pointer;
   background-color: var(--black);
   transition: all 0.3s ease;
   letter-spacing: 2px;
}
form  .field .login input{
   display:none;
}
form .field__btn input:hover {
   background-color: var(--red-hover);
}

form .login-btn input:hover{
   background-color: var(--red-hover);
}
video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   opacity: 100%;
}
.social-login {
   float: none;
   margin: 1.5rem auto 3rem;
   text-align: center;
}
.social-login .circle {
   color: #ffffff;
   border-radius: 50%;
   display: inline-block;
   margin: 0 1.5rem;
   padding: 1.5rem;
   background-color: var(--black);
}

.circle i {
   font-size: 1.8rem;
}

.facebook:hover {
   background-color: #6e83cd;
}
.google:hover {
   background-color: #ff7566;
}
.apple:hover {
   background-color: #797575;
}
.signup-link {
   display: none;
}
/* ------------------------------shopping-cart-------------------------------- */
.small-container {
   max-width: 108rem;
   margin: auto;
   padding-left: 1rem;
   padding-right: 1rem;
}
.cart-page {
   margin: 8rem auto;
}
table {
   width: 100%;
   border-collapse: collapse;
}
.cart-info {
   display: flex;
   flex-wrap: wrap;
}
th {
   text-align: left;
   padding: 0.5rem;
   color: #ffd;
   background: #04232b;
   font-weight: normal;
}
td {
   padding: 1.1rem 0.5rem;
}
.td input {
   width: 4rem;
   height: 3rem;
   padding: 0.5rem;
}
td a {
   color: #ff523b;
   font-size: 1.2rem;
}
td img {
   width: 8rem;
   height: 8rem;
   margin-right: 1rem;
}
.total-price {
   display: flex;
   justify-content: flex-end;
}
.total-price table {
   border-top: 0.3rem solid #04232b;
   width: 100%;
   max-width: 50rem;
}
td:last-child {
   text-align: right;
}
th:last-child {
   text-align: right;
}
.field-btn {
   border: none;
   font-size: 1.6rem;
   text-align: right;
}
.field-btn input {
   background: black;
   border: none;
   color: white;
   padding: 1.5rem 5.8rem;
   font-size: 1.4rem;
   margin: 1.4rem 0rem;
   font-family: "ubuntu";
   cursor: pointer;
   
}
.field-btn input:hover {
   transition: 0.6s ease-in-out;
   background: rgb(250, 0, 0);
}
/* --------------------------------------------- Bo sung -------------------------- */
.form-message {
   margin: 2rem 0;
   font-size: 1.6rem;
   text-align: center;
}
.form-message--error {
   color: red;
}
.form-message--success {
   color: green;
}

.social__or {
   font-size: 1.4rem;
   color: #04232b;
   margin: 3rem 0;
   position: relative;
}
.social__or::before {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 0;
   width: 40%;
   height: 2px;
   background-color: #04232b;
}
.social__or::after {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   width: 40%;
   height: 2px;
   background-color: #04232b;
}
