/* ================================================Tablet ========== */
@media screen and (max-width: 1023px) {
   /* ========== Base ========== */
   html {
      font-size: 50%;
   }
   .heading-subtitle {
      width: 50%;
   }

   .navbar__navigation {
      position: fixed;
      top: 0;
      bottom: 0;
      right: -100%;
      width: 30rem;
      background-color: var(--white);
      transition: all 0.3s ease;
      z-index: 99;
   }
   .menu-control:checked ~ .navbar__navigation {
      right: 0;
   }
   .menu-control:checked ~ .overplay-bg {
      display: block;
   }
   .cancel-icon {
      display: block;
      position: absolute;
      right: 1rem;
      top: -3rem;
      cursor: pointer;
   }
   .cancel-icon i {
      font-size: 4rem;
   }

   .navigation {
      margin-top: 5rem;
   }

   .navigation__item {
      display: block;
      margin-bottom: 1rem;
   }
   .navigation__link {
      display: block;
      padding: 1.5rem 0;
   }

   .navbar__service {
      display: none;
   }
   .navbar__menu-toggle {
      display: block;
   }
   .menu-mobile {
      display: block;
   }

   /* ========== hero ========== */
   .hero {
      background-position: right center;
      height: 100%;
   }

   /* ========== banner ========== */

   .banner-news__title {
      font-size: 10rem;
   }

   /* ========== Subscribe ========== */

   .newletters__subtitle {
      margin-top: 3rem;
   }

   .testimonials-list {
      display: flex;
      flex-wrap: unset;
   }

   /* ========== Blog ========== */
   .blog__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
   }

   .product-box {
      margin-bottom: 10rem;
   }
   .product-row {
      margin: 0;
   }

   /* ========== footer ========== */
   .about__desc {
      font-size: 1.8rem;
      line-height: 2rem;
      width: 100%;
   }
}

/* =========================================================== Mobile ==========  */
@media screen and (max-width: 767px) {
   html {
      font-size: 40%;
   }

   .product-interaction-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--white);
      opacity: 0.7;
      height: 8rem;
      transition: all 0.3s ease;
   }

   .product-interaction {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-around;
      z-index: 2;
      transition: all 0.5s ease;
      height: 7rem;
   }

   .product-interaction i {
      cursor: pointer;
      font-size: 4rem;
   }

   .heading-subtitle {
      width: 100%;
      font-size: 2.3rem;
   }
   .new-release__tags {
      width: 100%;
      padding: 0 1rem;
   }

   .tag__name {
      width: 12rem;
      height: 4rem;
   }

   .inform__desc {
      width: 80%;
   }
   .navigation__link {
      font-size: 2rem;
   }
   .navbar {
      padding: 0 6rem 0 2rem;
   }
   .hero__inform {
      padding-left: 2rem;
   }
   .brand-img {
      width: 70%;
   }

   .new-releases {
      padding: 0 2rem;
   }

   .product-box {
      margin-bottom: 10rem;
   }
   .product-wrapper {
      margin: 0;
   }

   .product__name {
      font-size: 2rem;
      font-weight: 500;
   }

   .product__price {
      padding-top: 0.5rem;
      padding-bottom: 2rem;
      font-size: 2rem;
      font-weight: 400;
   }
   .banner {
      height: 100%;
      padding: 4rem 2rem;
   }

   .banner-box {
      justify-content: center;
      flex-direction: column;
   }
   .banner-news {
      margin-bottom: 2rem;
      text-align: center;
   }
   .banner-news__title {
      font-size: 14rem;
   }
   .banner-news__desc {
      font-size: 2.5rem;
      width: 100%;
   }
   .banner-news__btn {
      display: block;
   }

   .newletters {
      padding: 5rem 2rem;
   }
   .newletters__btn {
      padding: 0 5rem;
   }

   .blog {
      padding: 0 2rem;
   }

   .testimonials {
      padding: 0 2rem;
   }
   .testimonials-list {
      flex-direction: column;
      gap: 5rem;
   }
   .feedback-box__desc {
      font-size: 2.5rem;
      line-height: 4rem;
      font-weight: 300;
   }
   .customer-box__name {
      font-size: 2.4rem;
   }
   .customer-box__avatar {
      width: 10rem;
      height: 10rem;
   }

   .footer__title {
      font-size: 6rem;
   }

   .about-social {
      grid-gap: 5rem;
   }
   .about-social__link {
      width: 6rem;
      height: 6rem;
   }
   .footer__link {
      font-size: 2.5rem;
   }
   .copyright {
      font-size: 2.2rem;
   }

   .contact__list .footer__item span i {
      font-size: 3rem;
   }

   .blog__wrapper {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-template-rows: repeat(3, 1fr);
   }
   .blog-box {
      grid-column: unset;
      grid-row: unset;
   }

   /* ========== Page-state ========= */
   .page-state {
      padding: 0 2rem;
   }

   .page-state__link {
      font-size: 2.4rem;
   }

   /* ========== Hot sale ========== */
   .hot-sale {
      padding: 0 2rem;
   }

   /* ========== Product-page Section ========= */
   .product-section {
      padding: 0 2rem;
   }
   .sort-by__title {
      font-size: 2.4rem;
   }
   .sort-by__selection {
      font-size: 2rem;
   }
   .product-row {
      margin: 0;
   }

   /* ========== Pagination ========== */
   .pagination__item {
      font-size: 2.5rem;
   }
   .pagination__item i {
      font-size: 3rem;
   }

   /* ========== footer ========== */
   .about__desc {
      font-size: 2.4rem;
      line-height: 3rem;
   }
}

@media screen and (max-width: 374px) {
   .hero__inform {
      text-align: center;
   }
   .inform__desc {
      width: 100%;
   }
   .brand-name__link {
      font-size: 3rem;
   }
}
