/* ------------------------------shopping-cart-------------------------------- */
.small-container {
   max-width: 108rem;
   margin: auto;
   padding-left: 1rem;
   padding-right: 1rem;
}
.cart-page {
   margin: 15rem auto 6rem auto;
}
table {
   width: 100%;
   border-collapse: collapse;
}

.table-product tr th:first-child {
   padding-left: 2rem;
}
.table-product tr th:last-child {
   padding-right: 2rem;
}

.table-product tr td {
   vertical-align: middle;
   padding: 2rem 0;
}

.table-product tr td:nth-child(1) {
   width: 45%;
}
.table-product tr td:nth-child(2) {
   width: 20%;
}
.table-product tr td:nth-child(3) {
   width: 20%;
   font-size: 1.6rem;
}

.cart-info {
   display: flex;
   flex-wrap: wrap;
}
th {
   text-align: left;
   padding: 1.5rem 0;
   color: var(--white);
   background: var(--black);
   font-weight: normal;
   font-size: 1.6rem;
}

.td input {
   width: 4rem;
   height: 3rem;
   padding: 0.5rem;
}
td a {
   color: var(--red);
   font-size: 1.2rem;
}
td img {
   width: 8rem;
   height: 8rem;
   margin-right: 1rem;
}
.total-price {
   display: flex;
   justify-content: flex-end;
   margin-top: 4rem;
}
.total-price tr {
   height: 4rem;
   line-height: 4rem;
}

.total-price tr td {
   font-size: 1.6rem;
}

.total-price table {
   border-top: 0.3rem solid var(--black);
   width: 100%;
   max-width: 50rem;
   padding-bottom: 2rem;
}
td:last-child {
   text-align: right;
}
th:last-child {
   text-align: right;
}
.field-btn {
   border: none;
   font-size: 1.6rem;
   text-align: right;
}
.field-btn input {
   background: black;
   border: none;
   color: white;
   padding: 1.5rem 5.8rem;
   font-size: 1.4rem;
   margin: 1.4rem 0rem;
   cursor: pointer;
}
.field-btn input:hover {
   transition: all 0.3s ease;
   background-color: var(--red-hover);
}

.cart-info__information {
   font-size: 1.6rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.cart-info__information small {
   padding: 1rem 0;
}
@media screen and (max-width: 1023px) {
   .table-product tr td:nth-child(3) {
      font-size: 1.8rem;
   }
   th {
      font-size: 1.8rem;
   }
   td a {
      font-size: 1.5rem;
   }
   .total-price tr td {
      font-size: 1.8rem;
   }
   .cart-info__information {
      font-size: 1.8rem;
   }
   .field-btn input {
      font-size: 1.8rem;
   }
}

@media screen and (max-width: 767px) {
   .table-product tr td:nth-child(3) {
      font-size: 2.3rem;
   }
   th {
      font-size: 2.3rem;
   }
   td a {
      font-size: 2.3rem;
   }
   .total-price tr td {
      font-size: 2.3rem;
   }
   .cart-info__information {
      font-size: 2.3rem;
   }
   .field-btn input {
      font-size: 2.3rem;
   }
}
